/* Контейнер для тіла картки */
.profile-modal-card-body {
  padding: 25px 40px;
  text-align: left;
}

/* Інформація профілю */
.profile-info {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.interaction-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.interaction-button {
  color: white;
  padding: 6px 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #659287;
  border: none;
  border-radius: 5px;
  border: 1px solid transparent;
  margin: 20px 0;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.interaction-button:hover {
  color: #659287;
  background-color: white;
  border: 1px solid #659287;
}

/* Кнопка виходу */
.logout-button {
  color: #007bff;
  text-decoration: none;
}

.logout-button:hover {
  text-decoration: underline;
}

.info-block {
  padding: 1vh 1vw;
  border: 1px solid #ccc;
  border-radius: 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.info-title {
  font-size: 16px;
  color: #000;
  text-overflow: ellipsis;
}

.info-caption {
  font-size: 14px;
  color: #666;
}

@media (max-width: 767px) {
  .profile-modal-card-body{
    width: 100%;
    padding:10px 15px;
  }
  .interaction-container{
    flex-direction: column;
    gap: 2px;
  }
  .interaction-button {
    margin: 10px 0;
  }
}
